:root {
  --steps: 21;
}

.blob-left {
  z-index: -1;
  position: absolute;
  top: 0;
  height: 20rem;
}

#hero {
  display: flex;
  align-items: center;
  min-height: calc(100vh - 50px);
}

.hero-image {
  width: 40vw;
  float: right;
}

.socials {
  margin: 2rem 0;
}

.socials a:hover{
  color: #699a9f;
}

.button {
  padding: 14px 16px;
  border-radius: 5px;
  margin: 0 2rem 0 0;
  border: none;
  font-weight: bold;
}

.cv-button {
    /* background: #e2c7c7; */
    background: linear-gradient(
      45deg,
      #e2c7c7 0%,
      #914263 100%
    );
    color: #fffefe;
  
    background-size: 200% 200%;
    transition: background-position 0.3s ease;
}

.hire-button {
    background: linear-gradient(
      45deg,
      #699a9f 0%,
      #0e3034 100%
    );
    color: #fffefe;

    background-size: 200% 200%;
    transition: background-position 0.3s ease;
    
  
}

/* .hire-button:hover {
  background-color: #3b6c71;
} */

.button:hover {
  background-position: right bottom; 
  color:#fffefe;
}

.img-fluid {
  max-width: 100%;
  min-width: 300px;
  height: auto;
  max-height: 500px;
}

.typing {
  /* font-family: "Inconsolata", Consolas, monospace; */
  color: #699a9f;
  position: relative;
  &::after {
    content: "|";
    position: absolute;
    right: 0;
    width: 100%;
    color: #699a9f;
    background: #fff;
    animation: typing 3s steps(var(--steps)) forwards, caret 1s infinite;
  }
}

@keyframes typing {
  to {
    width: 0;
  }
}
@keyframes caret {
  50% {
    color: transparent;
  }
}

.social-icon {
  margin-right: 2rem;
  color: #14161a;
}


@media screen and (max-width: 756px) {
  .blob-left{
    display: none;
  }
}