@font-face {
  font-family: Kreadon;
  src: url(./assets/fonts/PlayfairDisplay-ExtraBold.ttf);
}

@font-face {
  font-family: Kreadon-regular;
  src: url(./assets/fonts/Raleway-Regular.ttf);
}

.App {
  overflow-x: hidden;
  font-family: "Kreadon-regular", sans-serif;
  font-size: large;
}

h1,
h2,
h3,
h4,
.section-title span {
  font-family: "Kreadon", sans-serif;
  font-size: larger;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: none;
  color: #41757a;
}

.header-nav {
  align-items: center;
  transform: translateY(0);
  transition-property: transform;
  transition-duration: 0.3s;
}
.nav-logo,
.navbar-brand {
  height: inherit;
}

.navbar-collapse {
  justify-content: flex-end !important;
  margin-right: 4rem;
}

.lang {
  float: inline-end;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  .dropdown {
    position: relative;
    left: 0;
    display: none;
    padding: 0;
    list-style: none;
  }
}

.lang:hover {
  .dropdown {
    margin: 10px 0 0 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    li {
      margin: 7px 0;
      display: block;
    }
  }
}

.ua,
.en,
.pl {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #14161a;
  margin-bottom: 10px;
}
.ua {
  background-image: url("./assets/images/ua.png");
}

.en {
  background-image: url("./assets/images/gb.png");
}

.pl {
  background-image: url("./assets/images/pl.png");
}

nav {
  background-color: #fffefe;
}

#header-nav {
  position: fixed;
  width: 100vw;
  display: flex;
  height: 64px;
  font-size: 16px;
  color: #14161a;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  z-index: 10000;
}

[data-theme="dark"] .nav-item .nav-link {
  color: var(--color-light);
}

.nav-link {
  text-wrap: nowrap;
  list-style: none;
  padding: 0 16px;
  margin-bottom: 0;
  cursor: pointer;
}

.header-nav .nav-link:hover,
.dropdown:hover .dropbtn {
  color: #699a9f;
}

.section-title {
  text-align: center;
  padding: 30px 0;
  position: relative;
}

.section-title h2 {
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 0;
  color: #14161a;
  position: relative;
  z-index: 2;
}

.section-title span {
  position: absolute;
  top: 30px;
  color: #a9ccd0;
  left: 0;
  right: 0;
  z-index: 1;
  font-weight: 700;
  font-size: 52px;
  text-transform: uppercase;
  line-height: 0;
}

section {
  padding: 3rem 0;
}
